*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
    scroll-behavior:smooth;
}

.menu_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header{
    border-radius: 0px;
    background: #FAFAFA;

}

.menu_bar ul{
    display:inline-flex;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    list-style: none;
    
}

.pricing_box{
    width: 400px;
    height: 400px;
}

.pricing_box:hover{
    box-shadow: 2px 0px 0px 2px;

}

.menu_bar li{
    margin: 5%;
}

a{
    color: black;
}

a:hover{
    color: gray;
    text-decoration: none;
}

.button_link{
    color: white;
}

.button_link:hover{
    color: white;
}

.a1{
    display: flex;
    align-items: center;
<<<<<<< HEAD
    height: 30vh;
    width: 100%;
   
=======
    /* border: solid red; */
    height: 40vh;
>>>>>>> 7f439f744015b9eab39eb888f78b6a8eec658ad8
}

.content_price{
    justify-content: center;
    margin: 0 auto;
}

form select{
    border: none;
    padding: 1px;
    width: 100%;
}

form select:hover{
    border:solid 1px green;
}


.pricing_detail{
    display: flex;
    justify-content: center;
}



.try-invioce{
    background: rgb(38,3,106);
}

.try-button{

    display: flex;
    align-items: center;
    margin: 0 auto;
    /* border: solid orange; */
    justify-content: center;
    height: 15vh;
}

/* .fa{
    position: absolute;
    transform: translateX(-100%);
} */

.mobile {
    display: none;
}

.desktop{
    display: block;
}

.try-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:999px){
    .nav-item{
        display: none;
    }

    .mobile{
        display: block;
    }

    /* .a2{
        transform: translateY(-13%);
    } */

    .pricing_detail{
        display: block !important;
        width: 100% !important; 
    }

    .try-invioce{
        display: block;
        text-align: center;
        box-shadow: 5px 5px 5px 5px;
        background-color: #121212;
    }

    .try-wrapper{
        display: block;
    }
    .pricing_box{
        width: 100%;
        
       
    }
  
}

h2{
    font-weight: 600;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.25px
}

h6{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}

h3{
    font-size: 24px;
    line-height: 32px;
}

p{
    font-size: 15px;
    line-height: 18px;
    /* identical to box height, or 120% */

    letter-spacing: 0.15px;
    }

.btnbtn{
    width: 200px;
    height: 72px;


    background: #0085FF;
    /* Primary color */

    border: 1px solid #0071BC;
    box-sizing: border-box;
    border-radius: 4px
}
