body{

    background-color: whitesmoke;
}
.a1{
    display: flex;
    align-items: center;
    /* border: solid red; */
    height: 60vh;
}

.content_price{
    justify-content: center;
    margin: 0 auto;
}

form select{
    border: none;
    padding: 1px;
    width: 100%;
}

form select:hover{
    border:solid 1px green;
}

.a2{
    /* border:solid sienna; */
    transform:translateY(-50%);

}

.pricing_detail{
    display: flex;
}



/* .try-invioce{
    border: solid purple;
} */

.try-button{

    display: flex;
    align-items: center;
    margin: 0 auto;
    /* border: solid orange; */
    justify-content: center;
    height: 15vh;
}

/* .fa{
    position: absolute;
    transform: translateX(-100%);
} */

.mobile {
    display: none;
}

.desktop{
    display: block;
}

@media(max-width:999px){
    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }

    .a2{
        transform: translateY(-13%);
    }

    .pricing_detail{
        display: block;
        width: 100%;
    }

    .try-invioce{
        display: block;
        text-align: center;
        box-shadow: 5px 5px 5px 5px;
        width: 90%;
    }
  
}
